.cabecalho{
    background-color:rgb(0, 0, 0);
    color:rgb(131, 156, 143);
    text-align:center;
    margin: 0 auto;
    max-width: 800px;
}

.principal{
    background-color:rgb(109, 131, 125);
    color:black;
}
